## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("/Users/cartoon_air/Desktop/DataViz/Projects/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,55.00,53,100,6.82,overcast clouds
1,1,Barrow,US,71.2906,-156.7887,-16.58,69,1,5.75,clear sky
2,2,Morgan City,US,29.6994,-91.2068,48.20,87,1,0.00,clear sky
3,3,Albany,US,42.6001,-73.9662,30.61,75,95,16.84,light snow
4,4,Kitui,KE,-1.3670,38.0106,69.49,82,93,4.68,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 89

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

travel_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Butaritari,KI,3.0707,172.7902,82.35,74,84,17.18,broken clouds
9,9,Rikitea,PF,-23.1203,-134.9692,76.15,74,100,15.64,overcast clouds
11,11,Bengkulu,ID,-3.8004,102.2655,84.65,56,99,8.88,overcast clouds
13,13,Mahebourg,MU,-20.4081,57.7000,82.69,57,20,11.50,few clouds
15,15,Olinda,BR,-8.0089,-34.8553,82.13,74,40,8.05,scattered clouds
22,22,Warri,NG,5.5167,5.7500,77.23,91,97,1.45,overcast clouds
33,33,Oranjestad,AW,12.5240,-70.0270,80.55,83,20,8.05,few clouds
34,34,Kavieng,PG,-2.5744,150.7967,84.78,69,97,7.99,overcast clouds
49,49,Ambon,ID,-3.6954,128.1814,85.26,70,84,4.09,light rain
52,52,Busselton,AU,-33.6500,115.3333,84.85,31,36,8.12,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.

travel_cities_df.count()

City_ID                180
City                   180
Country                179
Lat                    180
Lng                    180
Max Temp               180
Humidity               180
Cloudiness             180
Wind Speed             180
Current Description    180
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

travel_cities_df['Country'].replace('', np.nan, inplace=True)
travel_cities_df.dropna(subset=['Country'], inplace=True)

travel_cities_df

/Users/cartoon_air/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-6-f107116335e6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel_cities_df.dropna(subset=['Country'], inplace=True)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Butaritari,KI,3.0707,172.7902,82.35,74,84,17.18,broken clouds
9,9,Rikitea,PF,-23.1203,-134.9692,76.15,74,100,15.64,overcast clouds
11,11,Bengkulu,ID,-3.8004,102.2655,84.65,56,99,8.88,overcast clouds
13,13,Mahebourg,MU,-20.4081,57.7000,82.69,57,20,11.50,few clouds
15,15,Olinda,BR,-8.0089,-34.8553,82.13,74,40,8.05,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
717,717,Pekan,MY,3.4836,103.3996,84.94,69,96,7.14,moderate rain
721,721,Parambu,BR,-6.2111,-40.6944,76.23,61,84,7.72,broken clouds
722,722,Roatan,HN,16.3244,-86.5366,77.36,75,100,6.85,overcast clouds
727,727,Sur,OM,22.5667,59.5289,81.05,51,67,12.86,broken clouds
728,728,Korampallam,IN,8.7667,78.1000,82.69,78,75,4.61,haze

In [7]:
travel_cities_df.count()

City_ID                179
City                   179
Country                179
Lat                    179
Lng                    179
Max Temp               179
Humidity               179
Cloudiness             179
Wind Speed             179
Current Description    179
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Butaritari,KI,82.35,broken clouds,3.0707,172.7902,
9,Rikitea,PF,76.15,overcast clouds,-23.1203,-134.9692,
11,Bengkulu,ID,84.65,overcast clouds,-3.8004,102.2655,
13,Mahebourg,MU,82.69,few clouds,-20.4081,57.7000,
15,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,
...,...,...,...,...,...,...,...
717,Pekan,MY,84.94,moderate rain,3.4836,103.3996,
721,Parambu,BR,76.23,broken clouds,-6.2111,-40.6944,
722,Roatan,HN,77.36,overcast clouds,16.3244,-86.5366,
727,Sur,OM,81.05,broken clouds,22.5667,59.5289,
728,Korampallam,IN,82.69,haze,8.7667,78.1000,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Butaritari,KI,82.35,broken clouds,3.0707,172.7902,Isles Sunset Lodge
9,Rikitea,PF,76.15,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Bengkulu,ID,84.65,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
13,Mahebourg,MU,82.69,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
...,...,...,...,...,...,...,...
717,Pekan,MY,84.94,moderate rain,3.4836,103.3996,Pekan Budget Hotel
721,Parambu,BR,76.23,broken clouds,-6.2111,-40.6944,Hotel pousada santo onofre
722,Roatan,HN,77.36,overcast clouds,16.3244,-86.5366,Hotel Henry Morgan
727,Sur,OM,81.05,broken clouds,22.5667,59.5289,Sur Plaza Hotel
728,Korampallam,IN,82.69,haze,8.7667,78.1000,Regency Tuticorin by GRT Hotels

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Butaritari,KI,82.35,broken clouds,3.0707,172.7902,Isles Sunset Lodge
9,Rikitea,PF,76.15,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Bengkulu,ID,84.65,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
13,Mahebourg,MU,82.69,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
...,...,...,...,...,...,...,...
717,Pekan,MY,84.94,moderate rain,3.4836,103.3996,Pekan Budget Hotel
721,Parambu,BR,76.23,broken clouds,-6.2111,-40.6944,Hotel pousada santo onofre
722,Roatan,HN,77.36,overcast clouds,16.3244,-86.5366,Hotel Henry Morgan
727,Sur,OM,81.05,broken clouds,22.5667,59.5289,Sur Plaza Hotel
728,Korampallam,IN,82.69,haze,8.7667,78.1000,Regency Tuticorin by GRT Hotels

In [19]:
hotel_df.count()

City                   174
Country                174
Max Temp               174
Current Description    174
Lat                    174
Lng                    174
Hotel Name             174
dtype: int64

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/cartoon_air/Desktop/DataViz/Projects/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))